:root{
    --shadow: 0px 0px 10px 1px rgb(139, 121, 22);
}
*{
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.wrapper{
    text-align: center;
}
table{
    /* border: 2px solid red; */
    padding:0.4rem ;
    background-color: rgb(185, 183, 183);
    border-spacing: 8px 10px;
    border-radius: 5px;
}

thead{
    background-color: rgb(115, 191, 115);
    box-shadow: var(--shadow);


}
thead th{
    padding: 0.5rem;
    text-align: right;
   
}

tbody td{
    background-color: rgb(242, 210, 31);
    padding: 0.4rem 0.8rem;
    box-shadow: var(--shadow);
     cursor: pointer;
     border-radius: 2px;
     transition: all 0.15s linear;
}
tbody td:hover{
    transform: scale(1.08);
}
