:root{
    --shadow: 0px 0px 10px 1px rgb(160, 160, 158);
    --shadow2: 0px 0px 10px 5px rgb(160, 160, 158);
}
*{
    box-sizing: border-box;
}
body{
   
    background: linear-gradient(to bottom, rgb(237, 221, 42), rgb(53, 157, 53));
}

.container{
    width: 80%;
    margin: 0 auto;
}

.display-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    text-align: center;
    height: 100vh;
}
table{
    /* border: 2px solid red; */
    padding:0.4rem ;
    background-color: rgb(185, 183, 183);
    border-spacing: 8px 10px;
    border-radius: 5px;
    /* transform: scale(1.5); */
    transform: translate(1px,-30px);
    transform: scale(2);
    box-shadow: var(--shadow2);


}

thead{
    background-color: rgb(115, 191, 115);
    box-shadow: var(--shadow);


}
thead th{
    padding: 0.5rem;
    text-align: right;
   
}

tbody td{
    background-color: rgb(242, 210, 31);
    padding: 0.4rem 0.8rem;
    box-shadow: var(--shadow2);
     cursor: pointer;
     border-radius: 2px;
     transition: all 0.15s linear;
}
tbody td:hover{
    transform: scale(1.08);
}
